<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		 <setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="vo.UserVo" alias="user"/>
		<typeAlias type="vo.BoardVo" alias="board"/>
		<typeAlias type="vo.CommentVo" alias="comment"/>
		<typeAlias type="vo.CommentLikesVo" alias="commentlikes"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="config/mybatis/mapper/user.xml" />
		<mapper resource="config/mybatis/mapper/board.xml" />
		<mapper resource="config/mybatis/mapper/comment.xml" />
		<mapper resource="config/mybatis/mapper/commentlikes.xml" />
	</mappers>
	
</configuration>
