<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  
     

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
	</settings>
	
	<typeAliases>
		<typeAlias type="vo.UserVo" alias="user"/>
		<typeAlias type="vo.ProductVo" alias="product"/>
		<typeAlias type="vo.BidVo" alias="bid"/>
		<typeAlias type="vo.AboardVo" alias="aboard"/>
		<typeAlias type="vo.BoardVo" alias="board"/>
		<typeAlias type="vo.BidVo" alias="bid"/>
		<typeAlias type="vo.CategoryVo" alias="category"/>
		<typeAlias type="vo.DetailCategoryVo" alias="d_category"/>
		<typeAlias type="vo.QnAVo" alias="qna"/>
		<typeAlias type="vo.QnACommentVo" alias="qnac"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="config/mybatis/mapper/user.xml" />
		<mapper resource="config/mybatis/mapper/product.xml" />
		<mapper resource="config/mybatis/mapper/bid.xml" />
		<mapper resource="config/mybatis/mapper/aboard.xml" />
		<mapper resource="config/mybatis/mapper/board.xml" />
		<mapper resource="config/mybatis/mapper/bid.xml" />
		<mapper resource="config/mybatis/mapper/category.xml"/>
		<mapper resource="config/mybatis/mapper/qna.xml"/>
		<mapper resource="config/mybatis/mapper/qnac.xml"/>
	</mappers>
	
</configuration>